/*Background*/

body {
    background-image: url(/images/backgrounds/lovers.png);
}

/*Boxes*/

header img {
    filter: drop-shadow(0 0 10px #fff);
}

#about {
    max-width: 100%;
    background-color: #111111dd;
    border-color: #f5f5f5;
    border-style: double;
    height: 300px;
    padding: 20px;
    margin-bottom: 10px;
}

#self {
    max-height: 280px;
    width: 240px;
    padding: 5px 10px;
    border-style: double;
    border-color: #f5f5f5;
    overflow: auto;
    float: right;
    background-color: #111;
}

#statuscafe {
    padding: .5em;
    background-color: azure;
    border: 1px solid midnightblue;
    color: #111;
    max-width: 250px;
    height: 90px;
    overflow: auto;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

#prefer {
    width: 595px;
    margin: auto;
}

.box {
    width: 260px;
    height: 270px;
    overflow: auto;
    margin: auto 5px;
    margin-bottom: 10px;
    padding: 10px;
    float: left;
    text-align: center;
    background-color: #111111dd;
    border-color: #f5f5f5;
    border-style: double;
}

.rotate:hover {
    transform: rotate(-2deg);
}

.pixel {
    image-rendering: crisp-edges;
}