/*Background*/

body {
    background-image: url(/images/backgrounds/floppy.png);
}

/*Boxes*/

article {
    max-width: 100%;
    border-style: double;
    border-color: #a6e7ff;
    background-color: #00008bbb;
    text-align: center;
    padding: 15px;
}

/*Text*/

a {
    color: #a6e7ff;
}