/*Background*/

body {
  background-image: url(/images/backgrounds/sunset.png);
}

/*Boxes*/

article {
    float: left;
    width: 380px;
    padding: 10px;
    max-height: 675px;
    border-color: #f5f5f5;
    border-style: double;
    overflow: auto;
    background-image: url(/images/backgrounds/foliage.png), url(/images/backgrounds/space.gif);
    background-position: top, center;
    background-repeat: repeat-x, repeat;
    background-attachment: local, scroll;
}

article section {
    background-color: #704241cc;
    max-width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
}

aside {
    margin-left: 10px;
    max-height: 675px;
    width: 180px;
    text-align: center;
    float: left;
    overflow: scroll;
}

#updates {
    width: 180px;
    border-style: double;
    background-color: #704241cc;
    overflow: auto;
    max-height: 90px;
    padding: 10px;
    font-size: .8em;
    margin: 10px auto;
}

/*Webrings*/

#tmring {
    border-style: double;
    border-color: #f5f5f5;
    padding: 10px;
    max-width: 100%;
    background-image: url(/images/backgrounds/kits.gif);
    margin-bottom: 10px;
}

#tmri {
    font-size: .8em;
    color: #000;
    max-width: 100%;
}

#linuxring {
    border-color: #f5f5f5;
    border-style: double;
    max-width: 100%;
    padding: 10px;
    background-color: #000;
    font-size: .8em;
    margin-bottom: 10px;
}

@font-face {
    font-family: 'venice_classicmedium';
    src: url('https://feelingmachine.moe/veniceclassic-webfont.woff2') format('woff2'),
         url('https://feelingmachine.moe/veniceclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#ahsc table {
  background-color: black;
  border: 4px #6f3d7b double;
  border-radius: 10px;
  background-image: url("https://feelingmachine.moe/alterring/ahscbackground.png");
  font-size: 16px;
  width: 180px;
}

#ahsc table tr td {
  padding: 15px;
}

#ahsc .ahsc-prev {
  font-size: 16px;
  text-align:left;
  font-family: 'serif';
  color: white;
}

#ahsc .ahsc-info {
  font-size: 16px;
   text-align:center;
       font-family: 'venice_classicmedium';

  color: white;
}

#ahsc .ahsc-next {
  font-size: 16px;
  text-align:right;
      font-family: 'serif';

  color: white;
}

#ahsc .ahsc-links {
  font-size:12px;;
      font-family: 'venice_classicmedium';
  color: white;
  
}
#ahsc a {
  color: #bb00ff;
}
#ahsc a:hover {
  color: #ff00ff;
}
#ahsc a:visited {
  color: #8B00C6;
}