html {
    cursor: url(/cursor.cur), auto;
    min-height: 100%;
}

body {
    font-size: .9rem;
    font-family: sans-serif;
    word-spacing: 3px;
    position: relative;
}

a {
    font-size: .9rem;
    font-family: sans-serif;
    word-spacing: 3px;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    cursor: url(/pointer.cur), pointer;
}

h1, h2,h3, h4, h5, h6 {
    margin-top: 5px;
    margin-bottom: 5x;
}

ul {
    list-style: square;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button:hover {
    cursor: url(/pointer.cur), pointer;
}