/*BASICS*/

html {
    background-image: url(/images/backgrounds/spirals.gif);
    background-attachment: fixed;
}

body {
    width: 900px;
    margin: auto;
    color: #000;
    font-family: sans-serif;
    font-size: 1rem;
    position: relative;
}

a {
    color: #ff0000;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#back {
    background-color: transparent;
    border: none;
    outline: none;
    position: fixed;
    bottom: 15px;
    right: 25px;
}

/*HEADER & NAVIGATION*/

header {
    max-width: 100%;
    height: 150px;
    text-align: center;
    text-shadow: 1px -1px #fff, -1px 1px #fff;
    background-image: url(/images/backgrounds/header.png);
    background-position: center;
    border: 3px outset #906639;
    font-family: courier;
    font-size: 2rem;
    margin-bottom: 20px;
    border-radius: 25px 25px 0 0;
}

header a {
    color: #000;
    text-decoration: none;
}

header a:hover {
    color: #ff0000;
    font-style: italic;
}

nav {
    max-width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

nav button {
    font-family: courier;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    text-shadow: 1px 1px  #fff;
    font-size: 1.5rem;
    cursor: pointer;
    width: 200px;
    height: 50px;
    background-size: cover;
    border: 3px outset #906639;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown div {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 200px;
    box-shadow: 0 8px 10px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown div a {
    color: #fff;
    background-color: #333;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}

.dropdown div a:hover {
    color: #ff0000;
    background-color: #000;
}

.dropdown:hover div {
    display: block;
}

footer {
    max-width: 100%;
    text-align: center;
    border: 3px outset #906639;
    background-color: #fff;
    margin-bottom: 20px;
    font-size: .8rem;
    border-radius: 0 0 25px 25px;
    padding-bottom: 15px;
}

/*MAIN CONTENT; INDEX*/

#index {
    height: 920px;
}

#welcome {
    width: 580px;
    margin-right: 20px;
    float: left;
    font-family: courier;
}

#welcome div {
    max-width: 100%;
    border: 3px outset #906639;
    font-family: sans-serif;
    padding: 15px;
    background-color: #fff;
}

#webrings {
    width: 300px;
    float: left;
    text-align: center;
}

#tmring {
    margin-bottom: 20px;
    min-width: 270px;
}

#stamps {
    text-align: center;
    overflow: hidden;
    height: 120px;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

#notebook {
    border: 1px solid #906639;
    background-color: #fff;
    width: 240px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#notebook header {
    background-image: url(/images/backgrounds/notebooktop.gif);
    background-size: cover;
    height: 67px;
    border: none;
    border-radius: 0;
}

#notebook div {
    max-width: 100%;
    overflow: auto;
    padding: 10px;
    height: 148px;
    text-align: center;
}

#notebook footer {
    background-image: url(/images/backgrounds/notebookbottom.gif);
    background-size: cover;
    height: 112px;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
}

#disclaimers {
    width: 638px;
    text-align: right;
    float: left;
    font-family: courier;
}

#disclaimers div {
    max-width: 100%;
    border: 3px outset #906639;
    padding: 15px;
    background-color: #fff;
    text-align: left;
    font-family: sans-serif;
}

/*MAIN CONTENT; ABOUT*/

#about {
    height: 773px;
    margin-bottom: 20px;
}

#picrew {
    float: left;
    border: 1px solid #000;
    margin-right: 20px;
    width: 230px;
    padding: 15px;
    background-color: #fff;
}

#basics {
    float: left;
    border: 3px outset #906639;
    padding: 10px 15px;
    background-color: #fff;
    height: 235px;
    margin-bottom: 20px;
    width: 580px;
    overflow: hidden;
}

#buttons {
    text-align: center;
    margin-bottom: 20px;
}

#results {
    height: 345px;
    width: 580px;
    padding: 15px;
    float: left;
    overflow: auto;
    border: 3px outset #906639;
    background-color: #fff;
    margin-right: 20px;
    text-align: center;
}

#results div {
    max-width: 46%;
    text-align: center;
    vertical-align: top;
    display: inline-block;
}

.uquiz {
    background-color: #ebf5fb;
    color: #000;
    text-align: center;
    padding: 10px;
    border: 1px solid #000;
    min-width: 100%;
    max-width: 100%;
}

.uquiz strong{
    color: #093c5d;
    font-size: 1.5rem;
}

.uquiz a {
    font-size: .8rem;
    color: #093c5d;
}

#friends {
    width: 260px;
    float: left;
    text-align: center;
}

/*MAIN CONTENT; ARTICLES*/

article {
    max-width: 100%;
    border: 3px outset #906639;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
}

article q {
    width: 500px;
    margin: 10px auto;
    font-style: italic;
    display: block;
}

article q::before {
    content: '«';
}

article q::after {
    content: '»';
}

article img {
    display: block;
    margin: auto;
}

article pre {
    background-color: #333;
    color: #b2ec5d;
    padding: 15px;
    overflow: auto;
}

.emoji {
    width: 1rem;
    display: inline-block;
}

/*MAIN CONTENT; 404*/

#not-found {
    text-align: center;
    text-transform: uppercase;
}

#not-found img {
    border: 1px solid #000;
}