/*Basics*/

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    font-size: 1em;
    color: #f5f5f5;
}

/*Boxes*/

main {
    width: 600px;
    margin: 25px auto;
    position: relative;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

nav {
    text-align: center;
    margin-bottom: 15px;
    text-transform: lowercase;
}

/*Text and images*/

strong, em {
    color: #ffc107;
}

a {
    color: #e91e63;
    text-decoration: underline dashed;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style: circle;
}

figcaption {
    font-size: .9em;
    font-style: italic;
}

pre {
    background-color: #333;
    color: #b2ec5d;
    padding: 15px;
    overflow: auto;
}

q {
    font-style: italic;
}

.rainbow {
    text-shadow: 0 0 3px #f5f5f5;
    background-image: linear-gradient(to right, #e91e63, #ffc107, #009688, #673ab7, #e91e63);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.center {
    margin: auto;
    display: block;
    text-align: center;
}

nav a {
    background-color: #704241;
    color: #f5f5f5;
    text-decoration: none;
    border-color: #f5f5f5;
    border-style: double;
    padding: 5px 10px;
    margin: 5px auto;
}

nav a:hover {
    color: #ffc107;
}