body {
    color: #000;
    background-image: url(/images/backgrounds/birds.gif);
    background-attachment: fixed;
}

a {
    color: #0000cd;
}

header {
    text-align: center;
    margin-bottom: -20px;
}

main {
    border: 2px solid #000;
    border-radius: 25px;
    background-color: #fff;
    padding: 20px;
    width: 500px;
    max-height: 500px;
    overflow: auto;
    margin: auto;
}

footer {
    text-align: center;
}