main img {
    width: 120px;
    height: 120px;
    margin: 5px;
    object-fit: cover;
    display: inline-block;
    border: 1px solid #fff;
}

main img:hover {
    transform: scale(1.5);
    object-fit: contain;
    border: none;
}

.pixel {
    image-rendering: crisp-edges;
}