/*BASIC STUFF*/

body {
   background-image: url(/images/backgrounds/spirals.gif);
   background-attachment: fixed;
   font-family: sans-serif;
   font-size: 1em;
   color: #906639;
}

p:hover, li:hover, figcaption:hover, q:hover {
    color: #000;
}

strong, em {
    color: #ff3c3c;
}

a {
    color: #333;
    text-decoration: underline;
}

a:hover {
    color: #ff3c3c;
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button, details summary {
    cursor: pointer;
}

ul {
    list-style: circle;
}

figcaption {
    font-size: .9em;
    font-style: italic;
}

pre {
    background-color: #333;
    color: #b2ec5d;
    padding: 15px;
    overflow: auto;
}

q {
    font-style: italic;
}

h1, h2, h3 {
    background-image: linear-gradient(to right, #e91e63, #ffc107, #009688, #673ab7, #e91e63);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}

/*NAVIGATION SIDEBAR*/

nav {
    z-index: 1;
    position: fixed;
    top: 25px;
    left: 25px;
    width: 240px;
    height: fit-content;
    background-color: #fff;
    border: 1px solid #906639;
    overflow: auto;
    text-align: center;
}

nav details summary {
    list-style: none;
}

nav button {
    width: 200px;
    padding: 10px;
    margin: 5px auto;
    text-transform: uppercase;
    font-size: 1em;
    font-family: sans-serif;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
    border: 1px solid #906639;
    background-size: cover;
}

nav button:hover {
    border: 1px solid #000;
    cursor: auto;
}

nav a button:hover {
    cursor: pointer;
}

nav ul {
    text-align: left;
}

nav header {
    height: 67px;
    background-image: url(/images/backgrounds/navheader.gif);
    background-repeat: no-repeat;
}

nav footer {
    height: 112px;
    background-image: url(/images/backgrounds/navfooter.gif);
    background-repeat: no-repeat;
}

/*MAIN CONTENT*/

main {
    border: 1px solid #906639;
    background-image: url(/images/backgrounds/main.gif);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 280px;
    width: 500px;
}

main header {
    height: 300px;
    padding-top: 36px;
    background-image: url(/images/backgrounds/mainheader.png);
    background-repeat: repeat-x;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
}

main article {
    padding: 20px;
    width: 440px;
    margin: 10px auto;
    background-color: #fff;
}

/*ASIDE & WEBRINGS*/

aside {
    position: absolute;
    top: 25px;
    left: 820px;
    text-align: center;
    width: 300px;
}

#tmring {
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
}

#linuxring {
    min-width: 270px;
    max-width: 270px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 10px;
}

#bayanet {
    min-width: 270px;
    display: block;
    margin: auto;
}