body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    font-size: .9em;
    text-transform: lowercase;
    position: relative;
    width: 800px;
    margin: auto;
}

header {
    max-width: 100%;
    height: 60px;
}

aside {
    width: 190px;
    float: right;
    top: 65px;
    overflow: hidden;
    min-height: 500px;
    position: sticky;
}

nav {
    max-width: 100%;
    margin-bottom: 10px;
}

main {
    width: 560px;
    min-height: 500px;
    padding: 10px 15px;
    background-color: #000;
    border: 1px solid #fff;
}

footer {
    max-width: 100%;
    text-align: center;
}

section {
    border: 1px solid #fff;
    max-width: 100%;
    padding: 10px;
}

a {
    color: #ff0000;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px auto;
}


img, video, iframe {
    max-width: 100%;
    max-height: 100%;
    border: none;
}

figure {
    display: inline-block;
    text-align: center;
}

figure img {
    display: block;
    margin: auto;
}

figcaption {
    font-style: italic;
    font-size: .8em;
}

pre {
    color: #00ff00;
    padding: 10px;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid #fff;
    overflow: auto;
}

q {
    font-style: italic;
}

q::before {
    content: '«';
}

q::after {
    content: '»';
}

ul {
    list-style: square;
}

details {
    padding: 10px;
    border: 1px dashed #000;
    margin: 5px auto;
}

details summary {
    cursor: pointer;
}

button {
    width: 100%;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    background-color: #000;
    margin-bottom: 5px;
    cursor: pointer;
}

button:hover {
    border: 1px dashed #fff;
}

/*Classes & IDs*/

.center {
    margin: auto;
    display: block;
    text-align: center;
}

.navlink {
    text-align: right;
    display: block;
    max-width: 100%;
}

#updates {
    background-color: #fff;
    background-image: url(/images/decor/cat-background.png);
    color: #000;
    height: 135px;
    overflow: auto;
    margin-bottom: 10px;
}

#updates p, #updates a {
    background-color: #fff;
}

#webrings {
    border: none;
    float: right;
    width: 200px;
    margin-left: 15px;
}

#webrings section {
    max-height: 200px;
    overflow: auto;
}

#statuscafe {
    padding: .5em;
    background-color: #fff;
    background-image: url(/images/decor/cat-background.png);
    border: 1px solid #fff;
    color: #000;
    margin-bottom: 10px;
}
#statuscafe-username {
    margin-bottom: .5em;
    background-color: #fff;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
    background-color: #fff;
}

/*Webrings*/

#linuxring {
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 15px;
    max-width: 100%;
    font-size: .9em;
    margin: 5px auto;
    color: #000;
}

#tmring {
    max-width: 85%;
    font-size: .9em;
    padding: 10px;
    margin: 5px auto;
}

#tmri {
    max-width: 100%;
}

#tmri a {
    font-size: .7em;
}

@font-face {
    font-family: 'venice_classicmedium';
    src: url('https://feelingmachine.moe/veniceclassic-webfont.woff2') format('woff2'),
         url('https://feelingmachine.moe/veniceclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#ahsc table {
  background-color: black;
  border: 4px #6f3d7b double;
  border-radius: 10px;
  background-image: url("https://feelingmachine.moe/alterring/ahscbackground.png");
  font-size: .9em;
  margin: auto;
}

#ahsc table tr td {
  padding: 15px;
}

#ahsc .ahsc-prev {
  font-size: 1em;
  text-align: left;
  font-family: 'serif';
  color: white;
}

#ahsc .ahsc-info {
  font-size: 1em;
  text-align: center;
  font-family: 'venice_classicmedium';
  color: white;
}

#ahsc .ahsc-next {
  font-size: 1em;
  text-align:right;
  font-family: 'serif';
  color: white;
}

#ahsc .ahsc-links {
  font-size: .8em;
  font-family: 'venice_classicmedium';
  color: white;
  
}
#ahsc a {
  color: #bb00ff;
}
#ahsc a:hover {
  color: #ff00ff;
}
#ahsc a:visited {
  color: #8B00C6;
}

/*Update log*/

.feed-title, .feed-item-title {
    display: none;
}