/*Basic shit*/
html {
    background-image: url(/images/background.png);
    background-color: #fff;
    background-attachment: fixed;
}

body {
    font-size: .9em;
    font-family: sans-serif;
    color: #000;
    text-transform: lowercase;
    width: fit-content;
    margin: auto;
    position: relative;
}

a {
    color: #0000ff;
    text-decoration: underline dashed;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px auto;
}

img, video, iframe {
    max-width: 100%;
    max-height: 100%;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: .85em;
}

pre {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

q {
    font-style: italic;
}

q::before {
    content: '«';
}

q::after {
    content: '»';
}

ul {
    list-style: square;
}

details {
    padding: 10px;
    border: 1px dashed #000;
    margin: 5px auto;
}

details summary {
    cursor: pointer;
}

.yell {
    text-transform: uppercase;
    font-weight: bold;
}

.center {
    margin: auto;
    display: block;
    text-align: center;
}

/*Boxes*/

#contain {
    width: 470px;
    padding: 25px;
    background-color: #ddd;
    margin: 25px auto;
    border-radius: 15px;
    position: relative;
}

header {
    max-width: 450px;
    height: 50px;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    clip-path: polygon(100% 85%, 55% 85%, 45% 0, 0 0, 0% 100%, 100% 100%);
}

#kitty {
    position: absolute;
    top: 0;
    left: 60%;
}

main {
    width: 420px;
    padding: 15px 25px;
    padding-bottom: 5px;
    margin: auto;
    background-color: #fff;
}

nav {
    width: 470px;
    margin: auto;
    height: 50px;
    background-color: #000;
}

nav button {
    text-align: center;
    width: 19.362%;
    padding: 10px;
    background-color: #000;
    font-family: sans-serif;
    text-align: center;
    background-color: #000;
    border: none;
    height: 50px;
    font-size: 1.2em;
    color: #fff;
    text-transform: lowercase;
    cursor: pointer;
    position: relative;
}

nav button:hover {
    background-color: #fff;
    color: #000;
}

section {
    width: 47.5%;
    display: inline-block;
    vertical-align: top;
    font-size: .85em;
    margin-bottom: 10px;
}

.box {
    border: 1px solid #000;
    height: 160px;
    max-width: 100%;
    padding: 2px 10px;
    overflow: auto;
}

footer {
    max-width: 450px;
    height: 25px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    padding-bottom: 15px;
    font-size: .7em;
    background-color: #fff;
    text-align: right;
    clip-path: polygon(0% 0%, 0% 20%, 40% 20%, 50% 100%, 100% 100%, 100% 0%);
}

/*Tabs*/
#tabs {
    overflow: hidden;
    background-color: #000;
    height: 35px;
    max-width: 100%;
}

#tabs button {
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: sans-serif;
    text-transform: lowercase;
    height: 35px;
    font-size: 1em;
    float: left;
}

#tabs button:hover, #tabs button.active {
    background-color: #fff;
    color: #000;
}

.tabcontent {
    display: none;
    margin-top: 10px;
}

/*Webrings*/

#linuxring {
    border: 1px solid #000;
    border-radius: 15px;
    max-width: 100%;
    font-size: .9em;
    margin: 5px auto;
}

#tmring {
    max-width: 85%;
    font-size: .9em;
    padding: 10px;
    margin: 5px auto;
}

#tmri {
    max-width: 100%;
}

#tmri a {
    font-size: .7em;
}

@font-face {
    font-family: 'venice_classicmedium';
    src: url('https://feelingmachine.moe/veniceclassic-webfont.woff2') format('woff2'),
         url('https://feelingmachine.moe/veniceclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#ahsc table {
  background-color: black;
  border: 4px #6f3d7b double;
  border-radius: 10px;
  background-image: url("https://feelingmachine.moe/alterring/ahscbackground.png");
  font-size: .9em;
  margin: auto;
}

#ahsc table tr td {
  padding: 15px;
}

#ahsc .ahsc-prev {
  font-size: 1em;
  text-align: left;
  font-family: 'serif';
  color: white;
}

#ahsc .ahsc-info {
  font-size: 1em;
  text-align: center;
  font-family: 'venice_classicmedium';
  color: white;
}

#ahsc .ahsc-next {
  font-size: 1em;
  text-align:right;
  font-family: 'serif';
  color: white;
}

#ahsc .ahsc-links {
  font-size: .8em;
  font-family: 'venice_classicmedium';
  color: white;
  
}
#ahsc a {
  color: #bb00ff;
}
#ahsc a:hover {
  color: #ff00ff;
}
#ahsc a:visited {
  color: #8B00C6;
}