html { cursor: url(/cursor.cur), auto; min-height: 100%;}

body {
    font-family: sans-serif;
    font-size:  1rem;
    color: #fff;
    background-image: url(/images/backgrounds/space.gif);
    background-attachment: fixed;
    animation: stars 3s linear infinite;
}

@keyframes stars {
    0% { background-position: 0 0; }
    100% {background-position: 0 234px;}
}

a {
    color: #ed1a7d;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    cursor: url(/pointer.cur), pointer;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px auto;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 512px;
    background-image: url(/images/backgrounds/leaves.png);
    background-repeat: repeat-x;
    text-align: center;
    z-index: -1;
    padding-top: 50px;
}

main {
    margin: auto;
    margin-top: 341px;
    width: 600px;
}

#content {
    width: 77%;
    margin-left: 2%;
    display: inline-block;
}

aside {
    width: 20%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

nav {
    padding: 15px;
    background-color: #24050b;
    border: 4px double #ed1a7d;
    max-width: 100%;
    overflow: auto;
    height: 190px;
    text-align: left;
}

nav ul {
    margin-top: 0;
    margin-left: -20px;
}

#flowers{
    width: 100%;
    height: fit-content;
    margin-top: -41px;

}

article {
    padding: 15px;
    background-color: #fff;
    border: 4px double #ed1a7d;
    display: inline-block;
    color: #24050b;
    vertical-align: top;
    width: 98%;
}

footer {
    text-align: center;
    font-size: .8rem;
}

pre {
    color: #fff;
    background-color: #24050b;
    border: 1px solid #ed1a7d;
    padding: 10px;
    overflow-x: auto;
}

article img {
    display: block;
    margin: auto;
}

.pagination {
    display: flex;
    list-style: none;
    margin: 20px 0;
    padding: 0;
    justify-content: center;
}

.page-link {
    position: relative;
    display: block;
    padding: 1rem;
    margin-left: -1px;
    line-height: 1.25;
}

.page-item.disabled .page-link {
    color: #fff;
    pointer-events: none;
}

.page-item.active .page-link {
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    main {
        width: 90%;
    }

    aside {
        display: block;
        margin-bottom: 2%;
        width: 100%;
    }

    nav {
        height: fit-content;
        overflow: hidden;
        text-align: center;
    }

    #flowers {
        display: none;
    }

    nav li {
        display: inline-block;
    }

    #content {
        width: 90%;
        display: block;
        margin-left: 0;
    }
}