<!--
     ___
 _.-|   |    mew!  |\__/,|   (`\ mreow!
{   |   |          |o o  |__ _) )
 "-.|___|        _.( T   )  `  /
  .--'-`-.     _((_ `^--' /_<  \   Ssh! The Webmaster is working!
.+|______|__.-||__)`-'(((/  (((/
-->
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    {{ partial "header.html" . }}
    <main>
        <aside>
            {{ partial "nav.html" . }}
        </aside>
        <section id="content">
            {{ block "main" . }}
            {{ end }}
        </section>
    </main>
    {{ partial "footer.html" . }}
</body>
</html>