<h2>Menu</h2>
<nav>
    <ul>
        <li style="list-style-image: url(/images/sozai/devil.gif);"><a href="/about">About</a></li>
        <li style="list-style-image: url(/images/sozai/frog.gif);"><a href="/blog">Blog</a></li>
        <li style="list-style-image: url(/images/sozai/bug.gif);"><a href="/gallery">Gallery</a></li>
        <li style="list-style-image: url(/images/sozai/squib.gif);"><a href="/tags/web-graphics">Freebies</a></li>
        <li style="list-style-image: url(/images/sozai/tv.gif);"><a href="/linkroll">Linkroll</a></li>
    </ul>
</nav>
<div id="flowers">
    <img src="/images/flowers.png" alt="Decorative image">
</div>